        body {
            margin: 0;
            font-size: 1.125rem;
            font-weight: 300;
            font-family: 'Ubuntu', sans-serif;
        }
        
        img {
            max-width: 100%;
            display: block;
        }
        /*=======Typography==========*/
        
        h1,
        h2,
        h3 {
            font-weight: 400;
            color: #143774;
            font-family: 'Lora', sans-serif;
            margin-top: 0;
        }
        
        .artical-body {
            color: #707070;
            font-size: 1.125rem;
            font-weight: 300;
        }
        
        main {
            margin-bottom: 4em;
        }
        
        a {
            color: #1792d2;
            text-decoration: none;
        }
        
        .title-paragraph {
            font-family: 'Lora', sans-serif;
            font-size: 1.2rem;
        }
        
        a:hover,
        a:focus {
            color: #143774
        }
        
        strong {
            font-weight: 700;
        }
        
        .artical-title {
            font-size: 1.5rem;
        }
        
        .artical-info,
        .artiacl-read-more {
            font-size: 0.875rem;
        }
        
        .artiacal-read-more {
            color: #1792d2;
            font-weight: 700;
            text-decoration: none;
            text-transform: uppercase;
        }
        
        .artiacal-read-more:hover,
        .artiacal-read-more:focus {
            color: #143774;
            text-decoration: underline;
        }
        
        .artical-info {
            margin: 2em 0;
        }
        
        .artical-featured {
            border-bottom: #707070 1px solid;
            padding-bottom: 2em;
            margin-bottom: 2em;
        }
        
        .artical-recent {
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
        }
        /*=======Navgetion==========*/
        
        .continer,
        .continer-flex {
            display: flex;
            flex-direction: column;
            width: 90%;
            max-width: 900px;
            margin: 0 auto;
            justify-content: space-between;
        }
        
        .continer-flex {
            display: flex;
        }
        
        header {
            background: #f8f8f8;
            padding: 2em 0;
            text-align: center;
            margin-bottom: 3em;
        }
        
        .title {
            color: #143774;
            font-family: 'Lora', serif;
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
        }
        
        .subtitle {
            color: #1792d2;
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 700;
            margin: 0;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
        }
        
        nav li {
            margin-left: 2em;
        }
        
        nav a {
            text-decoration: none;
            color: #707070;
            font-weight: 700;
            padding: .25em 0;
        }
        
        nav a:hover,
        nav a:focus {
            color: #1792d2;
        }
        
        .current-page {
            border-bottom: solid 1px#707070;
        }
        /*main &aside styiling*/
        
        .artical-recent-main {
            order: 2;
        }
        
        .artical-recent-secondary {
            order: 1;
        }
        /*wedget style*/
        
        .sidebar-wedget {
            border: 20px solid #efefef;
            margin-bottom: 2em;
            padding: 1em;
        }
        
        .wedget-recent-post-title,
        .wedget-title {
            font-size: 1rem;
        }
        
        .wedget-title {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 700;
        }
        
        .wedget-recent-post {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid#707070;
            margin-bottom: 1em;
        }
        
        .wedget-recent-post:last-child {
            border: 0;
            margin: 0;
        }
        
        .wedget-image {
            order: -1;
        }
        /*FOOTER*/
        
        footer {
            background: #143774;
            color: white;
            text-align: center;
            padding: 3em 0;
        }
        /*about me */
        
        .about-me-img {
            max-height: 300px;
            width: 100%;
            object-fit: cover;
            margin-bottom: 2em;
        }
        
        @media(max-width:675px) {
            nav ul {
                flex-direction: column;
            }
            nav li {
                margin: .5em 0;
            }
            header {
                text-align: center;
            }
        }
        
        @media(min-width:675px) {
            .continer {
                flex-direction: row;
            }
            main {
                width: 70%;
            }
            aside {
                width: 25%;
                min-width: 200px;
                margin-left: 1em;
            }
            .artical-recent {
                flex-direction: row;
                justify-content: space-between;
            }
            .artical-recent-main {
                width: 68%;
            }
            .artical-recent-secondary {
                width: 30%;
            }
            .artical-featured {
                display: flex;
                flex-direction: column;
            }
            .artical-image {
                order: -2;
            }
            .artical-info {
                order: -1;
            }
            .artical-image {
                width: 100%;
                min-height: 250px;
                object-fit: cover;
            }
        }